@import "src/assets/variables";

.muncher-image-renderer {
  position: relative;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .muncher-dropdown {
    position: absolute;
    right: .4rem;
    top: .4rem;
    z-index: 1000;
  }
}

.muncher-image-renderer:hover {
  opacity: .8;

}