@import "src/assets/variables";

.muncher {
  a {
    text-decoration: underline;
    color: $link-color;
  }

  a:hover {
    color: $link-hover-color;
  }

  .muncher-main {
    background: $primary-background-color;
    border: .01rem solid $border-color;
    font-family: $sans-serif-font;
    font-size: 1rem;
    padding: .2rem .5rem;
  }

  .muncher-toolbar {
    font-family: $sans-serif-font;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    button + button {
      margin: 0;
    }

    .muncher-toolbar--left {
      display: flex;
      align-items: center;
      justify-content: left;
      flex-wrap: wrap;
    }

    border-bottom: 1px solid $border-color;
  }

  .muncher-editor, .muncher-code {

    padding: 1rem;
    cursor: text;
    min-height: 60vh;

  }

  .muncher-code {
    .CodeMirror {
      min-height: 60vh;
    }
  }

  .muncher-separator {

    color: $border-color;
  }

  .muncher--small {
    font-size: 8px;
  }

  .muncher-structure {
    margin-top: 1rem;
    padding: 1rem;
    background: $primary-background-color;
  }
}

.text-align--left .public-DraftStyleDefault-ltr {
  text-align: left;
}

.text-align--center .public-DraftStyleDefault-ltr {
  text-align: center;
}

.text-align--right .public-DraftStyleDefault-ltr {
  text-align: right;
}

.text-align--justify .public-DraftStyleDefault-ltr {
  text-align: justify;
}

